{% extends 'layout.html' %}
{% block title %}Admin{% endblock%}
{% block header%}<h2 class="subtitle">Admin</h2>{% endblock %}


{% block content %}
<ul id="users">
    Users : {% for user in users %}
    <li>
        {{user.username}} - {{ user.name }}
    </li>
    {% else %}
    <li>No users</li>
    {% endfor %}
</ul>

<ul id="tasks">
    Tasks : {% for task in tasks %}
    <li>
        {{task.emoji|emojify}} {{ task.name }} - {{task.current_user.name}}
    </li>
    <form action="{{ url_for('request_delete_task') }}" method="post">
        <input type="hidden" name="task_id" value="{{ task.id }}" />
        <button type="submit">Delete</button>
    </form>
    {% else %}
    <li>No tasks</li>
    {% endfor %}
    <form action="{{ url_for('request_add_task') }}" method="post">
        <label for="task_name">Name</label>
        <input type="task_name" name="task_name" id="task_name" required />
        <input type="submit" value="Add" />
    </form>
</ul>

<ul id="items">
    Items : {% for item in items %}
    <li>{{item.emoji|emojify}} {{ item.name }} - {{item.current_user.name}}</li>
    {% else %}
    <li>No items</li>
    {% endfor %}
</ul>

<ul id="transactions">
    Transactions :
    {% for transaction in transactions%}
    <li>{{":check_mark_button:"|emojify if transaction.sender_approved else
        ":cross_mark_button:"|emojify }} {{transaction.sender}} {{":right_arrow:"|emojify}}
        {{":check_mark_button:"|emojify
        if transaction.receiver_approved else ":cross_mark_button:"|emojify }} {{transaction.receiver}} -
        {{transaction.amount}}{{CURRENCY}} -
        {{transaction.reason}}</li>
    {% else %}
    <li>No transactions</li>
    {% endfor %}
</ul>
{% endblock %}