{% extends 'layout.html' %}
{% block title %}History{% endblock%}
{% block header%}<h2 class="subtitle">History</h2>{% endblock %}


{% block content %}
{% from 'macros.html' import render_items,render_tasks,render_transaction %}
<h3>Tasks</h3>
{{render_tasks(tasks,false,true,false)}}

<h3>Items</h3>
{{render_items(items,false,true,false)}}

<h3>Current transactions</h3>
<ul class="list-group">
    {% for transaction in transactions if not (transaction.sender_approved and
    transaction.receiver_approved)%}
    <li class="list-group-item d-flex">
        {{render_transaction(transaction,CURRENCY)}}
    </li>
    {% else %}
    <li class="list-group-item d-flex">No current transactions</li>
    {% endfor %}
</ul>
<h3>Past transactions</h3>
<ul class="list-group">
    {% for transaction in transactions if (transaction.sender_approved and
    transaction.receiver_approved)%}
    <li class="list-group-item d-flex">
        {{render_transaction(transaction,CURRENCY)}}
    </li>
    {% else %}
    <li class="list-group-item d-flex">No past transactions</li>
    {% endfor %}
</ul>
{% endblock %}