{% extends 'layout.html' %}
{% block title %}History{% endblock%}
{% block header%}<h2 class="subtitle">History</h2>{% endblock %}


{% block content %}
{% from 'macros.html' import render_items,render_tasks,render_transaction %}
<h3>Tasks</h3>
{{render_tasks(tasks,false,true,false)}}

<h3>Items</h3>
{{render_items(items,false,true,false)}}

<h3>Current transactions</h3>
<div class="container text-center">
    {% for transaction in transactions if not (transaction.sender_approved and
    transaction.receiver_approved)%}
    <div class="row ps-2 pb-2">{{render_transaction(transaction,CURRENCY)}}</div>
    {% else %}
    <div class="row ps-2 pb-2">
        <div class="col-auto border rounded-start-4 p-2">{{":check_mark_button:"|emojify}}</div>
        <div class="col-3 border p-2">No current transactions</div>
    </div>
    {% endfor %}
</div>

<h3>Past transactions</h3>
<div class="container text-center">
    {% for transaction in transactions if (transaction.sender_approved and
    transaction.receiver_approved)%}
    <div class="row ps-2 pb-2">
        {{render_transaction(transaction,CURRENCY)}}
    </div>
    {% else %}
    <div class="row ps-2 pb-2">
        <div class="col-auto border rounded-start-4 p-2">{{":check_mark_button:"|emojify}}</div>
        <div class="col-3 border p-2">No past transactions</div>
    </div>
    {% endfor %}
</div>
{% endblock %}