{% extends 'layout.html' %}
{% block title %}Home{% endblock%}
{% block header %}<h2 class="subtitle">Home</h2>{% endblock %}

{% block content %}
{% if current_user.is_authenticated %}
<ul id="tasks">
  Tasks : {% for task in current_user.tasks %}
  <li>
    {{ task.name }}
    <form action="{{ url_for('task') }}" method="post">
      <input type="hidden" name="task_id" value="{{ task.id }}" />
      <button type="submit">Complete</button>
    </form>
  </li>
  {% else %}
  <li>{{":check_mark_button:"|emojify}} No tasks</li>
  {% endfor %}
</ul>

<ul id="items">
  Items : {% for item in current_user.items %}
  <li>{{ item.name }}</li>
  <form action="{{ url_for('item') }}" method="post">
    <input type="hidden" name="item_id" value="{{ item.id }}" />
    <button type="submit">Complete</button>
  </form>
  {% else %}
  <li>{{":check_mark_button:"|emojify}} No items</li>
  {% endfor %}
</ul>

<ul id="sended_transactions">
  Transactions to send :
  {% for transaction in current_user.sended_transactions if not (transaction.sender_approved and
  transaction.receiver_approved)%}
  <li>{{":check_mark_button:"|emojify if transaction.sender_approved else
    ":cross_mark_button:"|emojify }} {{transaction.sender}} {{":right_arrow:"|emojify}} {{":check_mark_button:"|emojify
    if transaction.receiver_approved else ":cross_mark_button:"|emojify }} {{transaction.receiver}} -
    {{transaction.amount}}{{CURRENCY}} -
    {{transaction.reason}}</li>
  {%if not transaction.sender_approved%}
  <form action="{{ url_for('transaction') }}" method="post">
    <input type="hidden" name="transaction_id" value="{{ transaction.id }}" />
    <button type="submit">Approved</button>
  </form>
  {%endif%}
  {% else %}
  <li>{{":check_mark_button:"|emojify}} No sended transaction</li>
  {% endfor %}
</ul>
<ul id="received_transactions">
  Transactions to be received :
  {% for transaction in current_user.received_transactions if not (transaction.sender_approved and
  transaction.receiver_approved)%}
  <li>{{":check_mark_button:"|emojify if transaction.sender_approved else
    ":cross_mark_button:"|emojify }} {{transaction.sender}} {{":right_arrow:"|emojify}} {{":check_mark_button:"|emojify
    if transaction.receiver_approved else ":cross_mark_button:"|emojify }} {{transaction.receiver}} -
    {{transaction.amount}}{{CURRENCY}} -
    {{transaction.reason}}</li>
  {%if not transaction.receiver_approved%}
  <form action="{{ url_for('transaction') }}" method="post">
    <input type="hidden" name="transaction_id" value="{{ transaction.id }}" />
    <button type="submit">Approved</button>
  </form>
  {%endif%}
  {% else %}
  <li>{{":check_mark_button:"|emojify}} No received transaction</li>
  {% endfor %}
</ul>
{%endif%} {% endblock %}