{% extends 'layout.html' %} {% block title %}Home{% endblock%}
{% block header%}<h2 class="subtitle">Home</h2>{% endblock %}
{% block content %}
{% if current_user.is_authenticated %}
{% from 'macros.html' import render_items,render_tasks,render_transaction,render_transaction_approve_action %}
<h3>Tasks</h3>
{{render_tasks(current_user.tasks,true,false,false)}}

<h3>Items</h3>
{{render_items(current_user.items,true,false,false)}}


<h3>Transactions to send</h3>
<ul class="list-group">
  {% for transaction in current_user.sended_transactions
  if not (transaction.sender_approved and transaction.receiver_approved)%}
  <li class="list-group-item d-flex">
    {{render_transaction(transaction,CURRENCY)}}
    {%if not transaction.sender_approved%}
    {{render_transaction_approve_action(transaction.id,current_user.id)}}
    {%endif%}

  </li>
  {% else %}
  <li class="list-group-item">{{":check_mark_button:"|emojify}} No sended transaction</li>
  {% endfor %}
</ul>

<h3>Transactions to received</h3>
<ul class="list-group">
  {% for transaction in
  current_user.received_transactions if not (transaction.sender_approved and
  transaction.receiver_approved)%}
  <li class="list-group-item d-flex">
    {{render_transaction(transaction,CURRENCY)}}
    {%if not transaction.receiver_approved%}
    {{render_transaction_approve_action(transaction.id,current_user.id)}}
    {%endif%}
    {% else %}
  <li class="list-group-item">{{":check_mark_button:"|emojify}} No received transaction</li>
  {% endfor %}
</ul>
{%endif%} {% endblock %}