{% extends 'layout.html' %} {% block title %}Home{% endblock%}
{% block header%}<h2 class="subtitle">Home</h2>{% endblock %}
{% block content %}
{% if current_user.is_authenticated %}
{% from 'macros.html' import render_items,render_tasks,render_transaction,render_transaction_approve_action %}
<h3>Tasks</h3>
{{render_tasks(current_user.tasks,true,false,false)}}

<h3>Items</h3>
{{render_items(current_user.items,true,false,false)}}


<h3>Transactions to send</h3>
<div class="container text-center">
  {% for transaction in current_user.sended_transactions
  if not (transaction.sender_approved and transaction.receiver_approved)%}
  <div class="row ps-2 pb-2">
    {{render_transaction(transaction,CURRENCY)}}
    {%if not transaction.sender_approved%}
    {{render_transaction_approve_action(transaction.id,current_user.id)}}
    {%endif%}
  </div>
  {% else %}
  <div class="row ps-2 pb-2">
    <div class="col-auto border rounded-start-4 p-2">{{":check_mark_button:"|emojify}}</div>
    <div class="col-3 border p-2">No sended transaction</div>
  </div>
  {% endfor %}
</div>

<h3>Transactions to be received</h3>
<div class="container text-center">
  {% for transaction in
  current_user.received_transactions if not (transaction.sender_approved and
  transaction.receiver_approved)%}
  <div class="row ps-2 pb-2">
    {{render_transaction(transaction,CURRENCY)}}
    {%if not transaction.receiver_approved%}
    {{render_transaction_approve_action(transaction.id,current_user.id)}}
    {%endif%}
  </div>
  {% else %}
  <div class="row ps-2 pb-2">
    <div class="col-auto border rounded-start-4 p-2">{{":check_mark_button:"|emojify}}</div>
    <div class="col-3 border p-2">No received transaction</div>
  </div>
  {% endfor %}
</div>
{%endif%} {% endblock %}